## SQL basics


Vocabulary:
- Database: contains many tables
- Relaitons or tables: contains tuples and attributes
- Attribute or column: one of possible elements of data corresponding to the object
- Tuple or rows: set of fields that represent and object


### Schema of the Database
 - is the rules applied to the DB. The titles and the content(strings, integers...)
 - Data base model is the structure or format of a DB (a contract about the shape)
 
## SQL- structured query language
- we talk to the DB using the SQL syntax

### BAsic functions SQL:
- create table
- retrieve data
- Update table
- Insert table
- Delete table
...

# Using DataBases
### common DB systems
 - Oracle, userd for entreprises
 - MySql, for webs
 - Sql server, is microsoft
 - HSQL, SQLite, Postgres....
 
 - SQLite is an embedded DB, is small and build it intothe application. Python has it!!!

# Single Table CRUD
- SQLitebrowser consults the DB SQLite DB
- open SQLite by typing in the command line  sqlitebrowser

1.- create a new database, select the folder to save it. We called sql1 saved in Dropbox/UsingDB with python
2.- Execute sql tab
   - Create a table: 
       """CREATE TABLE User( name VARCHAR(128), email VARCHAR(128))"""
    This is our contract the table will have 2 attributes, tha will have as max 128 characters. So our data returns fast
   
   - Insert statement
    """INSERT INTO Users(name,email) VALUES ('Kristin','kf@umich.edu')"""
    
    - Delete Statement
    """DELETE FROM Users WHERE email = 'fred@a.com'"""
    
    - Update
    """UPDATE Users SET name ='Pep' WHERE email = 'c@aw.com'"""
    
   - Retrive
   """ SELECT * FROM Users WHERE name ='Pep'
   SELECT *FROM Users ORDER BY email

# EXAMPLE: COUNTING EMAILS (emaildb.py file)

In [4]:

## put the output into a DataBase, so we are putting it out of the memorybase
# tutorial; www.tutorialspoint.com/sqlite/sqlite_python.htm
import sqlite3      # imports the library that is talking to the SQL DB

conn = sqlite3.connect('emaildb.sqlite')  #it says we're going to store the data into a file called 'emaild.sqlite' 
cur = conn.cursor()   # cur is our object, created to talk with commands to the DB

cur.execute('''
DROP TABLE IF EXISTS Counts''')         ### cur.execute executes the SQL statement. To remove the table, start from 0

cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''') ## cur.execute executes the SQL statement

fname = raw_input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split()
    email = pieces[1] # is the place where the email is
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email, ))  
                            # '?' is a placeholder for the email, we leave the blank space as it should be a tuple
    row = cur.fetchone()    # fetches next row of a query result set  returning a single sequence
    if row is None:
        cur.execute('''INSERT INTO Counts (email, count) 
                VALUES ( ?, 1 )''', ( email, ) )
    else : 
        cur.execute('UPDATE Counts SET count=count+1 WHERE email = ?', 
            (email, ))
    conn.commit()   # the commit makes the changes visible into the DB

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

print
print "Counts:"
for row in cur.execute(sqlstr) :
    print str(row[0]), row[1]

cur.close()

Enter file name: mbox.txt

Counts:
zqian@umich.edu 195
mmmay@indiana.edu 161
cwen@iupui.edu 158
chmaurer@iupui.edu 111
aaronz@vt.edu 110
ian@caret.cam.ac.uk 96
jimeng@umich.edu 93
rjlowe@iupui.edu 90
dlhaines@umich.edu 84
david.horwitz@uct.ac.za 67

# ASSIGNMENT: COUNTING ORGANIZATIONS

In [17]:
import sqlite3

conn = sqlite3.connect('josep_count.sqlite')
cur = conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = raw_input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split()
    email = pieces[1] # is the place where the email is
    org = email.rsplit('@')[1]
    
    cur.execute('SELECT count FROM Counts WHERE org = ?', (org, ))

    row = cur.fetchone()    # fetches next row of a query result set  returning a single sequence
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count) 
                VALUES ( ?, 1 )''', ( org, ) )
    else : 
        cur.execute('UPDATE Counts SET count=count+1 WHERE org = ?', 
            (org, ))
    conn.commit()   # the commit makes the changes visible into the DB

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr) :
    print str(row[0]), row[1]

cur.close()

Enter file name: mbox.txt
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17